<nav class="navbar">
    <div class="container-fluid">
          <div class="collapse navbar-collapse" id="home-nav">
        <ul class="nav navbar-nav">
          <li><a href="/home/new">Nuevo Proyecto</a></li>
          <li class="nav-logo">
            <a href="/home" class="nav-logo-link">
              <img class="nav-logo-image" src="http://sportify.io/wp-content/themes/sportify/images/Sportify-Logo.png" alt="Sportify Logo">
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-search"></span>
            </a>
          </li>
          <li><a href="/perfil">Mi perfil</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="margin-top: 50px;">
<div class="container">
    <div class="row">
      <div class="col-sm-6 centered-form">
        <form action="/home/<%= event._id %>/edit" method="post">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" value="<%= event.title %>">
          </div>
          <div class="form-group">
            <label for="totalPeople">¿Cuantas personas necesitas?</label>
            <input type="text" name="totalPeople" class="form-control" value="<%= event.totalPeople %>">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              name="description"
              class="form-control">
              <%= event.description %>
            </textarea>
          </div>
          <div class="form-group">
            <label for="category">Category</label><br>
            <select name="category" id="category">
              <% types.forEach((category) => { %>
                <% if (category === event.category) { %>
                  <option
                    selected
                    type="text"
                    value="<%= category %>"
                    class="form-control">
                  <%= category %>
                  </option>
                <% } else { %>
                  <option type="text" value="<%= category %>" class="form-control"><%= category %></option>
                <% } %>
              <%  }) %>
            </select>
          </div>
          <div class="form-group">
            <label for="deadline">Fecha</label>
            <input type="date" name="deadline" class="form-control" value="<%= event.deadline %>" required>
          </div>
          <div class="form-group">
            <button type="submit">¡Editar!</button>
          </div>
        </form>
      </div>
    </div>
  </div>