<nav class="navbar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="home-nav">
      <ul class="nav navbar-nav">
        <li>
          <a href="/home/new">Nuevo Proyecto</a>
        </li>
        <li class="nav-logo">
          <a href="/home" class="nav-logo-link">
            <img class="nav-logo-image" src="https://s3.amazonaws.com/media-p.slid.es/uploads/820044/images/4613607/Untitled-4.png" alt="Sportify Logo">
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/perfil">Mi Perfil</a>
        </li>
        <li>
          <a href="/auth/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="margin-top: 50px;">
  
  <div class="event-row row">
    <h3 class="text-center">¿Qué deporte quieres realizar hoy?</h3>
    <% events.reverse().forEach((event) => { %>


      <div class="col-sm-2 home-event-box evento">
        <img  class="evento" src="http://www.cfsantjust.com/wp-content/uploads/2016/08/futbol_dic2013.jpg">
        <br>
        <div class="event-info-wrapper">
          <a class="title" href="/home/<%= event._id %>">
            <strong>
              <%= event.title %>
            </strong>
          </a><br>
          <br> Creado por
          <span class="light-text">
           <%= event.creatorId.username %>
          </span>
          <br>
          <span class="light-text description">
            <%= event.description %>
          </span>
          <br>
          <div class=" light-text event-time">
            <strong class="large-strong">
              <h5><%= event.timeRemaining %></h5>
            </strong>
            <br>
          </div>
        </div>
      </div>
      <%  }) %>
  </div>