<nav class="navbar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="home-nav">
      <ul class="nav navbar-nav">
        <li>
          <a href="/home/new">Nuevo Proyecto</a>
        </li>
        <li class="nav-logo">
          <a href="/home" class="nav-logo-link">
            <img class="nav-logo-image" src="http://sportify.io/wp-content/themes/sportify/images/Sportify-Logo.png" alt="Sportify Logo">
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-search"></span>
          </a>
        </li>
        <li>
          <a href="/perfil">Mi perfil</a>
        </li>
        <li>
          <a href="/auth/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="margin-top: 50px;">
  <div class="event-row row">
    <h3 class="text-center">¿Qué deporte quieres realizar hoy?</h3>
    <% events.forEach((event) => { %>
      <div class="col-sm-2 home-event-box">
        <img src="http://www.cfsantjust.com/wp-content/uploads/2016/08/futbol_dic2013.jpg">
        <br>
        <div class="event-info-wrapper">
          <a class="title" href="/home/<%= event._id %>">
            <strong>
              <%= event.title %>
            </strong>
          </a>
          <br> Creado por
          <span class="light-text">
           <%= event.creatorId.username %>
          </span>
          <br>
          <span class="light-text description">
            <%= event.description %>
          </span>
          <div class="event-time">
            <strong class="large-strong">
              <%= event.timeRemaining %>
            </strong>
            <br>
          </div>
        </div>
      </div>
      <%  }) %>
  </div>