<nav class="navbar">
    <div class="container-fluid">
          <div class="collapse navbar-collapse" id="home-nav">
        <ul class="nav navbar-nav">
          <li><a href="/home/new">Nuevo Proyecto</a></li>
          <li class="nav-logo">
              <a href="/home" class="nav-logo-link">
              <img class="nav-logo-image" src="http://sportify.io/wp-content/themes/sportify/images/Sportify-Logo.png" alt="Sportify Logo">
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-search"></span>
            </a>
          </li>
          <li><a href="/profile">Mi perfil</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="margin-top: 50px;">
<div class="container event-container">
  <div class="row">
    <div class="col-sm-2">
      <img src="https://lh3.ggpht.com/DL2tCAHdVPT0Y4OgSkTFOCv4WEqqB8RJQsCQvIq2ogG42Qisvj2HFl1Yh420XttfRkRY=w128"><br>
      Evento creado por:  <strong><%= event.creatorId.username %></strong>
    </div>
    <div class="col-sm-10">
      <h1><%= event.title %></h1>
      <h2 class="event-category"><%= event.category %></h2>
      <p class="event-description"><%= event.description %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <img class="event-image" src="<%= event.image %>">
    </div>
    <div class="col-sm-4 event-info">
      <div class="event-progress">
          <div class="col-sm-4 campaign-info">
              <div class="campaign-progress" data-total-people="<%= event.totalPeople %>">
        <progress value="<%= event.totalPeople %>" max="<%= event.totalPeople %>"></progress>
      </div>
      <div class="event-pledge">
        <span class="event-total"><%= event.totalPeople %></span><br>
        <span class="light-text">
            <%= event.totalPeople %> de <%= event.goal %></span>
        </span>

      </div>
      <div class="event-backers">
        <strong class="large-strong"><%= event.backerCount %></strong><br>
      </div>
      <div class="event-backers">
          <strong class="large-strong"><%= event.backerCount %></strong><br>
          <span class="light-text">backers</span>
        </div>
        <div class="event-time">
          <strong class="large-strong"><%= event.timeRemaining %></strong><br>
        </div>

        <a class="btn backr-btn back-it" 
           href="/events/<%= event._id%>/people" data-id="<%= event._id %>">
           ¡Quiero unirme!</a>

           <br>
           <br>
           <br>
           <br>
           <% if(user._id.equals(event.creatorId._id)) { %>
            <a class="btn btn-primary" href="/home/<%= event._id%>/edit">Editar</a>
          <% } %>
          <br>
          <br>
      <a href="/home">Volver a la Página Principal</a><br>
    </div>
  </div>
</div>