<nav class="navbar">
        <div class="container-fluid">
              <div class="collapse navbar-collapse" id="home-nav">
            <ul class="nav navbar-nav">
              <li><a href="/home/new">Nuevo Proyecto</a></li>
              <li class="nav-logo">
                <a href="#" class="nav-logo-link">
                  <img class="nav-logo-image" src="http://sportify.io/wp-content/themes/sportify/images/Sportify-Logo.png" alt="Sportify Logo">
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#">
                  <span class="glyphicon glyphicon-search"></span>
                </a>
              </li>
                <li><a href="/perfil">Profile</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div style="margin-top: 50px;">



    <div class="container">
        <div class="row">
          <div class="col-sm-6 centered-form">
            <form action="/perfil/<%= user._id %>/edit" method="post">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" name="name" class="form-control" value="<%= user.name %>">
              </div>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" value="<%= user.username %>">
              </div>
              <div class="form-group">
                <label for="description">Descripcion</label>
                <textarea
                  id="description"
                  name="description"
                  class="form-control">
                  <%= user.description %>
                </textarea>
              </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" name="email" class="form-control" value="<%= user.email %>">
                </div>
                <div class="form-group">
                    <button type="submit">Update</button>
                  </div>
            </form>
          </div>
        </div>
      </div>